body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#video-container {
    color: white;
    background: #add8e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
#video {
  width: 95%;
  height: 95%;
}
.header {
    background-color: #add8e6; 
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header img {
    width: 50px;
    height: auto; 
    margin-right: 10px; 
  }
  
  .header h2 {
    margin: 0; 
  }